<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Premier League">
        <!-- <p>List of <strong>Premier League</strong>.</p> -->
        <app-epl></app-epl>
      </nb-tab>
      <nb-tab tabTitle="La Liga">
        <p>List of <strong>La Liga</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Serie A">
        <p>List of <strong>Serie A</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Bundesliga">
        <p>List of <strong>Bundesliga</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Ligue 1">
        <p>List of <strong>Ligue 1</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Super League">
        <p>List of <strong>Super League</strong>.</p>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
